*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary--color: green;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: 'Poppins', sans-serif;
}

.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    border-radius: 15px;
    background-color: #272d40;
    padding: 20px;
    position: relative;
    color:white;
}
.card__heart, .card__cart{
    position: absolute;
    font-size: 25px; 
    top: 20px;
    left: 20px;
}
.card__cart{
    left: unset;
    right: 20px;
}
.card__img{
    margin: 40px auto 0;
    width: 78%;
    transition: .5s;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__title, .card__price{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    transition: .5s;
}
.card__title{
    color: var(--primary--color);
    margin-top: 20px;
}
.card__option{
    transform: translateY(150px);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.card__size, .card__color{
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
    transition: .5s;
}
.card__size span{
    padding: 1px 7px;
    background: #dedede;
    color:black;
    border-radius: 5px;
    margin: 0 3px;
}
.card__size span:first-of-type{
    margin-left: 15px;
}
.card__color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}
.card__color--green{
    background: green;
}
.card__color--red{
    background: red;
}
.card__color--dark{
    background: black;
}
.card__button{
    margin-top: 15px;
}
.card__button button{
    padding: 10px 25px;
    background-color: var(--primary--color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: .5s;
}
.card__button button:first-of-type{
    margin-right: 15px;
}
.card:hover .card__img{
    transform: translateY(-103px) rotate(-20deg);
}
.card:hover .card__title{
    transform: translate(-25px,-60px);
}
.card:hover .card__price{
    transform: translate(-115px, -60px);
}
.card:hover .card__option{
    transform: translateY(-20px);
    visibility: visible; 
    opacity: 1;
}